Repository YetiForceCompany/YetiForceCRM, pull requests merged in 2022-04, with the labels that each got.

#15853 Fixed quickcreate modules with calendar
  public_html/layouts/basic/modules/Calendar/resources/Extended/CalendarView.js
  public_html/layouts/basic/modules/Calendar/resources/QuickCreate.js
  public_html/layouts/basic/modules/OSSTimeControl/resources/QuickCreate.js
  public_html/layouts/basic/modules/Occurrences/resources/QuickCreate.js
  public_html/layouts/basic/modules/Reservations/resources/QuickCreate.js
  public_html/layouts/basic/modules/Vtiger/resources/CalendarView.js
Labels: ✔ finished

#15856 Fixed pagination in RecycleBin
  layouts/basic/modules/RecycleBin/ListViewHeader.tpl
  modules/RecycleBin/views/List.php
  public_html/layouts/basic/modules/RecycleBin/resources/List.js
Labels: ✔ finished

#15857 Revert changes in RecycleBin/views/List.php
  modules/RecycleBin/views/List.php
Labels: ✔ finished

#15866 Fixed getting translation in Widgets
  layouts/basic/modules/Settings/Widgets/Index.tpl
Labels: ✔ finished

#15870 Fixed marking tabs in detail view after page refreshing
  modules/Vtiger/views/Detail.php
Labels: ✔ finished

#15873 Added information who add a Participant in Occurences
  install/install_schema/scheme.sql
  modules/Occurrences/relations/GetRelatedMembers.php
  modules/Vtiger/uitypes/Picklist.php
Labels: ✔ finished

#15878 Improved table in related list
  layouts/basic/modules/Vtiger/RelatedListContents.tpl
Labels: ✔ finished

#15883 PHP 8.1 & change passed args to encodeHtml
  app/Fields/Owner.php
Labels: php

#15885 PHP 8.1 & Json parsed fixed
  app/Json.php
  modules/Vtiger/models/Field.php
Labels: php

#15886 PHP 8.1 & secure Base.php nullable value
  modules/Vtiger/uitypes/Base.php
Labels: php

#15888 PHP 8.1 & AccountName.php/parseName nullable value secure.
  modules/Vtiger/uitypes/AccountName.php
Labels: php

#15891 PHP 8.1 & refactoring & fixing Date.php/getEditViewDisplayValue
  modules/Vtiger/uitypes/Date.php
Labels: php

#15896 PHP 8.1 & Picklist/getPicklistDependencyDatasource criteria nullable …
  app/Fields/Picklist.php
Labels: php

#15895 Improved mass adding of documents from the widget level.
  layouts/basic/modules/Documents/MassAddDocuments.tpl
  modules/Documents/views/MassAddDocuments.php
  modules/Vtiger/widgets/Documents.php
  public_html/layouts/basic/modules/Vtiger/resources/Vtiger.js
Labels: ✔ finished

#15898 PHP 8.1 & fix loses precision bug in FileTarget.php
  app/Log/FileTarget.php
Labels: php

#15897 PHP 8.1 & Icon/getIconByFileType nullable value secure
  app/Layout/Icon.php
Labels: php

#15899 PHP 8.1 & Menu.php getUrl() nullable value secure
  modules/Settings/Vtiger/models/Menu.php
Labels: php

#15900 PHP 8.1 & secure conversion boolean to array & format fixed
  modules/ModTracker/dashboards/Updates.php
Labels: php

#15901 PHP 8.1 & secure conversion from bool to array to variable $breadcrumbs
  modules/Vtiger/models/Menu.php
Labels: php

#15902 PHP 8.1 VTJsonCondition/checkCondition nullable value secure [UnitTest]
  modules/com_vtiger_workflow/VTJsonCondition.php
Labels: php

#15904 PHP 8.1 & PackageExport/__write nullable value secure [UnitTest]
  vtlib/Vtiger/PackageExport.php
Labels: php

#15914 PHP 8.1 & Base Group [UnitTest]
  app/TextParser.php
  modules/Vtiger/uitypes/FileLocationType.php
Labels: php

#15917 PHP 8.1 & App [UnitTest]
  app/Encryption.php
Labels: php

#15915 PHP 8.1 & Settings [UnitTest]
  app/Fields/RecordNumber.php
  modules/Vtiger/models/PDF.php
  modules/Vtiger/models/Relation.php
  vtlib/Vtiger/LanguageExport.php
Labels: php

#15918 PHP 8.1 & Settings (app/Colors.php) [UnitTest]
  app/Colors.php
Labels: php

#15916 Improved getting businessTime in ServiceContracts
  app/Utils/ServiceContracts.php
  languages/en-US/Settings/BusinessHours.json
  layouts/basic/modules/Settings/BusinessHours/EditViewBlocks.tpl
Labels: ✔ finished

#15919 PHP 8.1 & Domain.php strpos nullable value secure.
  app/Extension/HTMLPurifier/Domain.php
Labels: php

#15927 PHP 8.1 & Languages.php fix [UnitTest]
  modules/Vtiger/uitypes/Languages.php
Labels: php

#15929 Field.php fix getFieldInfo loadning bug
  modules/Calendar/models/Field.php
Labels: php

#15934 Fixed saving filters in menu
  modules/Settings/Menu/actions/SaveAjax.php
Labels: ✔ finished

#15933 PHP 8.1 & Record/getFieldInstances() nullable value secure.
  modules/ModTracker/models/Record.php
Labels: 🔧 AmendmentsRequired, php

#15935 PHP 8.1 & showing right panel in Calendar view fixed
  layouts/basic/modules/Calendar/Edit/Field/DateTime.tpl
Labels: 🔧 AmendmentsRequired, php

#15937 PHP 8.1 & secure automatic conversion of false to array in NewAccount…
  modules/Accounts/dashboards/NewAccounts.php
Labels: php

#15938 PHP 8.1 & ReferenceSubProcess.tpl nullable value secure
  layouts/basic/modules/Vtiger/Edit/Field/ReferenceSubProcess.tpl
Labels: php

#15931 remove space for get() parameter
  layouts/basic/modules/Vtiger/Detail/Widget/GeneralInfo.tpl
Labels: php

#15930 PHP 8.1 $FIELD_VALUE nullable value secure
  modules/Vtiger/uitypes/Country.php
Labels: 🔧 AmendmentsRequired, php

#15939 PHP 8.1 & Watchdog.php nullable value secure.
  modules/Vtiger/models/Watchdog.php
Labels: php

#15941 MultiCompany Test [UnitTest]
  tests/Base/J_MultiCompany.php
Labels: php

#15948 PHP 8.1 EditView.tpl secure nullable values
  layouts/basic/modules/Settings/Roles/EditView.tpl
Labels: php

#15950 PHP 8.1 & EncryptionSettingsTab.tpl nullable secure
  layouts/basic/modules/Settings/Password/EncryptionSettingsTab.tpl
Labels: php

#15951 MultiCompanyTest corrected coverage [UnitTest]
  tests/Base/J_MultiCompany.php
Labels: php

#15952 Improved the layout of the labels in the detailed view
  layouts/basic/modules/Vtiger/Detail/BlockView.tpl
Labels: ✔ finished

#15936 Fixed #15607
  modules/Home/models/Module.php
  modules/Vtiger/dashboards/CalendarActivities.php
  modules/Vtiger/dashboards/CreatedNotMineActivities.php
  modules/Vtiger/dashboards/CreatedNotMineOverdueActivities.php
  modules/Vtiger/dashboards/OverdueActivities.php
Labels: ✔ finished

#15940 Added counting of entries in filter type menu items
  install/install_schema/data.sql
  install/install_schema/scheme.sql
  languages/en-US/Settings/Menu.json
  layouts/basic/modules/Settings/Menu/fields/CountEntries.tpl
  layouts/basic/modules/Settings/Menu/types/CustomFilter.tpl
  layouts/basic/modules/Vtiger/menu/CustomFilter.tpl
  modules/Settings/Menu/actions/SaveAjax.php
  modules/Settings/Menu/models/Module.php
  modules/Settings/Menu/models/Record.php
  public_html/layouts/basic/modules/Vtiger/resources/Menu.js
Labels: ✔ finished

#15953 PHP 8.1 & Boolean/getDisplayValue nullable value secure
  modules/Vtiger/uitypes/Boolean.php
Labels: php

#15955 PHP 8.1 & MultiReferenceValue.php secure value
  modules/Vtiger/uitypes/MultiReferenceValue.php
Labels: php

#15966 PHP 8.1 & nullable value secure in Json.php
  app/Json.php
Labels: php

#15970 Improved the footer in the description preview.
  public_html/layouts/resources/app.js
Labels: ✔ finished

#15968 Fixed counting of entries in the day view in the calendar.
  modules/Calendar/actions/Calendar.php
  modules/Vtiger/actions/Calendar.php
Labels: ✔ finished

#15973 Fixed conditional
  modules/Vtiger/models/Field.php
Labels: ✔ finished

#15972 Corrected the condition in dependent fields
  modules/Settings/FieldsDependency/views/Edit.php
Labels: ✔ finished

#15969 testReloadByMultiCompany [UnitTest] & phpunit.xml added colors to con…
  tests/Base/J_MultiCompany.php
  tests/phpunit.xml
Labels: 🔧 AmendmentsRequired, php

#15978 NeglectedAccounts.php fixed view Private Individual
  layouts/basic/modules/Accounts/dashboards/NeglectedAccountsContents.tpl
  modules/Accounts/dashboards/NeglectedAccounts.php
Labels: php

#15979 Added new operator for condition
  app/Condition.php
  app/Conditions/QueryFields/OwnerField.php
  app/Conditions/QueryFields/SharedOwnerField.php
  app/Conditions/RecordFields/OwnerField.php
  app/Conditions/RecordFields/SharedOwnerField.php
  languages/en-US/_Base.json
  modules/Vtiger/uitypes/Owner.php
  modules/Vtiger/uitypes/SharedOwner.php
Labels: ✔ finished

#15987 AmountToReturn test [UnitTest]
  tests/App/TextParser.php
Labels: php

#15986 Improvements for ogu condition
  app/Conditions/QueryFields/SharedOwnerField.php
  app/Conditions/RecordFields/OwnerField.php
  app/Conditions/RecordFields/SharedOwnerField.php
Labels: ✔ finished

#15964 Corrected calendar panel view.
  public_html/layouts/basic/styles/pages/_Calendar.scss
Labels: ✔ finished

#15932 Removed badge background from calendar widget
  public_html/layouts/basic/skins/gray/pages/_Settings.scss
Labels: 🔧 AmendmentsRequired

#15954 Added the abbreviated name of the day of the week in the calendar according to the screen width.
  public_html/layouts/resources/Calendar.js
Labels: ✔ finished

#15992 Fix #15550 Gantt duration
  modules/Project/models/Gantt.php
  public_html/layouts/basic/modules/Project/resources/Gantt.js
Labels: php

#15993 fixed emoji mentions in MassSMS
  public_html/layouts/resources/Fields.js
Labels: ✔ finished, php

#15996 PHP 8.1 & Time.php nullable value secure
  modules/OSSTimeControl/uitypes/Time.php
Labels: ✔ finished, php

#16000 Fixing showing Summary View if isn't supported
  modules/Vtiger/models/Module.php
  modules/Vtiger/models/Record.php
Labels: ✔ finished, php

#15980 Added check if the record is selected for the mass edit action.
  public_html/layouts/basic/modules/Vtiger/resources/List.js
Labels: ✔ finished
